.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--grad);
  flex-shrink: 0;
}

.avatar-large {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: var(--grad);
  flex-shrink: 0;
}
