<p>Salut <%= @email %>,</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>On te prévient que ton adresse email Le Plug est en cours de changement vers <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>On te prévient que ton adresse email Le Plug a été changée vers <%= @resource.email %>.</p>
<% end %>

<p>Si tu n'es pas à l'origine de ce changement, contacte-nous immédiatement.</p>

<p>— L'équipe Le Plug</p>
