<p>Salut <%= @resource.email %>,</p>

<p>Quelqu'un a demandé la réinitialisation de ton mot de passe Le Plug. Tu peux en choisir un nouveau via le lien ci-dessous :</p>

<p><%= link_to "Changer mon mot de passe", edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu n'es pas à l'origine de cette demande, ignore simplement cet email.</p>
<p>Ton mot de passe ne changera pas tant que tu n'auras pas cliqué sur le lien ci-dessus pour en créer un nouveau.</p>

<p>— L'équipe Le Plug</p>
